.jimu-title-panel{
  border-radius: 4px;
}
.jimu-title-panel>.title{
  color: white;
  cursor: pointer;
  height: 35px;
  width: 100%;
  background-color: #485566;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
  z-index: 101;
  position: relative;
}
.jimu-title-panel>.title>.title-label{
  float: left;
  height: 100%;
  margin-left: 14px;
  font-size: 16px;
}
.jimu-title-panel>.title>.title-fold-btn{
  float:right;
  height:100%;
  width:60px;
  background:url(images/double_arrow.png) no-repeat center center;
}
.jimu-title-panel>.title>.close-btn{
  background: url(images/close.png) no-repeat center center;
  width: 40px;
  height: 100%;
  margin-right: 5px;
  float: right;
  border-radius: 11px;
  opacity: 0.4;
}
.jimu-title-panel>.title>.close-btn:hover{
  opacity: 1;
}
.jimu-title-panel>.jimu-container{
  position: absolute;
  left: 0;
  top: 35px;
  right: 0;
  bottom: 0;
}
