html, body, #map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #FFF;
  overflow: hidden;
  font-family: "Trebuchet MS";
}
#bcMain {
  width: 100%;
  height: 100%;
}
#cpHeader {
  height: auto;
}
#taAddress {
  position:relative;
  top:10px;
  height:24px;
  width:150px;
  font-size:1.2em;
  font-family:Verdana, Geneva, sans-serif;
  white-space: nowrap;
  overflow-x: hidden;
}
.taAddressClass {
  position:relative;
  left:0px;
  height:24px;
  width:150px;
  font-size:1.2em;
  font-family:Verdana, Geneva, sans-serif;
  white-space: nowrap;
  overflow-x: hidden;
}
