html, body, #map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #FFF;
  overflow: hidden;
  font-family: "Trebuchet MS";
}
#bcMain {
  width: 100%;
  height: 100%;
}
#divGeocoder {
  display: block;
  position: absolute;
  z-index: 2;
  top: 25px;
  left: 75px;
}
#cpHeader {
  height: auto;
}
#taAddress {
  height:20px; 
  width:250px;
  vertical-align: middle;
}
