<div data-dojo-attach-point="divOuterContainer" class="esriOuterContainer">
	<div class="esriPrevious">
		<div data-dojo-attach-point="mapBookPreviousPage" class="esriPreviousImage esriPrevDisabled">
		</div>
	</div>
	<div id="mapBookContentContainer" class="esriMapBookContainer">
		<div id="mapBookHeaderContainer" class="esriMapBookHeaderContainer">
		</div>
		<div id="mapBookScrollContent">
			<div id="mapBookContent" class="esriMapBookContent">
			</div>
			<div class="esriMapBookEsriLogo">
			</div>
		</div>
		<div id="esriMapPages" class="esriMapcontentPages">
		</div>
		<div class="esriFooterDiv">
		</div>
	</div>
	<div class="esriNext">
		<div data-dojo-attach-point="mapBookNextPage" class="esriNextImage">
		</div>
	</div>
	<div id="outerLoadingIndicator" class="esriOuterLoadingIndicator">
	</div>
	<div class="esriLockPortraitOrientation">
		<div class="esriOrientationBlockedText"></div>
	</div>
</div>
