<div class="page_container">
	
		<div data-dojo-attach-point="loadingController">
		</div>
		<div data-dojo-attach-point="infoController" class="info_container">
			<div data-dojo-attach-point="driveTimeController" ></div>
			<div data-dojo-attach-point="routingController" class="hidden"></div>
		</div>

	<div class="button_container">
		<div style="float:left;">
			<div class="widgetBtn jimu-main-bgcolor" data-dojo-attach-point="btnBack" data-dojo-attach-event="onClick:onBtnBackClick">Back</div>
		</div>
	</div>
</div>