<div class="page_container">
	<div class="info_container message_container">
		<label>Welcome to <b>Plug My Ride</b>.<br><br>
			Enjoy freedom with your electric vehicle. There are more charging stations available every day.  Let Plug My Ride help you discover how your lifestyle will ride in an electric vehicle!<br><br>
			It’s easy. Just choose your vehicle, starting point and destination. Plug My Ride will show you the best route with stops for charging, if needed, as well a visual representation of a single charge driving range for the vehicle.<br><br>
			Let’s go exploring.<br><br><br>Note: Each analysis will consume 1 AGOL credit</label>
		<br><br>
	</div>
	<div class="button_container">
		<div style="float:right;">
			<div class="widgetBtn jimu-main-bgcolor" data-dojo-attach-point="btnContinue" data-dojo-attach-event="onClick:onBtnContinueClick">Continue</div>
		</div>
	</div>
</div>