<div style="display:block">
	<label data-dojo-attach-point="directionTitle"style="font-weight: bold">Driving Route and Stops</label>
	<div data-dojo-attach-point="directionError" style="padding-top:10px;" class="hidden" >
		<label style="font-weight: bold; color:red" >Sorry, our analysis has determined that you will not be able to arrive at your destination using the selected vehicle due to a lack of charging stations along the route.  Please try a different vehicle.</label>
	</div>
	
	<div data-dojo-attach-point="directionController"></div>
</div>