@media (min-width: 600px)
{
    #pageContent_MaS
       {
        width:520px;
        margin-left: -530px;
    }
}

@media (max-height: 600px)
{
    #pageContent_MaS
        {
        max-height:420px;
    }
}

#pageContent_MaS .pageTitle
{
    height:60px;
}


#pageContent_MaS ul.summary
{
    display:none;
}

.dijitContentPane.MaS-contentPanel
{
    padding:5px;
}

.MaS-paneldetails
{
    padding:0;
}

.large #pageContent_MaS, .large .MaS-panel
{
    height:440px;
    padding:0;
}

.large .MaS-paneldetails
{
    overflow:auto;
    height:360px;
}

.medium #pageContent_MaS, .medium .MaS-panel
{
    height:340px;
    padding:0;
}

.medium .MaS-paneldetails
{
    overflow:auto;
    height:260px;
}

.small #pageContent_MaS, .small .MaS-panel
{
    height:285px;
    padding:0;
}

.small .MaS-paneldetails
{
    overflow:auto;
    height:205px;
}

#pageContent_MaS .simpleGeocoder
{
    float:left !important;
}

.esriPopup .sizer 
{
    width:500px !important;
}

.esriPopup .sizer.content .contentPane
{
    max-height:400px !important;
}

.MaS-searchRadius
{
    width:60px;
}

#pageContent_MaS .dijitTextBox .dijitButtonNode
{
    height:22px !important;
}

#pageContent_MaS .dijitContentPane.MaS-destinationdetails
{
    padding:0;
    overflow:auto;
}

#pageContent_MaS .nihilo .dijitUpArrowButton .dijitArrowButtonInner
{
    background-position:-19px 1px;
    background-image:url("http://js.arcgis.com/3.10/js/dojo/dijit/themes/nihilo/images/spriteArrows.png");
    width:22px;
}

#pageContent_MaS .nihilo .dijitDownArrowButton .dijitArrowButtonInner
{
    background-position:3px 1px;
    background-image:url("http://js.arcgis.com/3.10/js/dojo/dijit/themes/nihilo/images/spriteArrows.png");
    width:22px;
    margin:0;
}

#pageContent_MaS .claro .dijitSpinner .dijitDownArrowButton .dijitArrowButtonInner
{
    margin: -2px 0px 0px 0px;
}

#pageContent_MaS .claro .dijitSpinner .dijitSpinnerButtonContainer .dijitArrowButton
{
    height:45%;
}

#pageContent_MaS.claro .calcite .dijitTextBox .dijitButtonNode
{
    height:24px !important;
}

.MaS-daItem:hover, .MaS-rsListing:hover
{
    background-color:#CEF;
    color:#00F;
}

#pageContent_MaS .simpleGeocoder .esriGeocoderResults
{
    background-color: #ccc;
}
