<div data-dojo-attach-point="applicationHeaderParentContainer" class="esriHeaderDiv">
	<div data-dojo-attach-point="applicationHeaderName" class="esriMapBookHeader">
        <div data-dojo-attach-point="applicationLogoIcon" class="esriMapBookLogo">
		</div>
		<div data-dojo-attach-point="mapBookTitle" class="esriMapBookTitle">
		</div>
	</div>
	<div data-dojo-attach-point="paginationDiv" class="esriPaginationDiv">
	</div>
	<div data-dojo-attach-point="applicationHeaderWidgetsContainer" class="esriRightMenu">
	</div>
</div>
