html, body {
        height:100%;
        width:100%;
        margin:0;
        padding:0;
        font-family: "Open Sans";
    }
    #leftPane {
        width:30%;
        margin:0;
        #border:none;
    }
    #map {
		height:100%;
        width:100%;
        padding:0;
		
    }
	#HomeButton1 {
      position: absolute;
      top: 94px;
      left: 28px;
      z-index: 50;
    }
	#LocateButton1 {
      position: absolute;
      top: 130px;
      left: 28px;
      z-index: 50;
	}
	#geocode1 {
      position: absolute;
      top: 30px;
      left: 70px;
      z-index: 50;
	}
    .nav {
        padding: 5px 5px;
        background: #4479BA;
        color: #FFF;
        border-radius: 5px;
        border: solid 1px #20538D;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);

    }
    #header {
        text-align: center;
        height:100px;
        border-bottom: solid 1px #ccc;
    }
	#header2 {
        text-align: center;
        height:280px;
        border-bottom: solid 1px #ccc;
    }
	#cbc {
	  position: absolute;
	  top: 10px;
      left: 10px;
      padding: 0px 25px;
      z-index: 999;
    }
	#radio {
      position: absolute;
      top: 110px;
      left: 140px;
      z-index: 1;
	  cursor: pointer;
    }
	h3 { margin: 0 0 5px 0; border-bottom: 1px solid #444; }
      .shadow {
        -moz-box-shadow: 0 0 5px #888;
        -webkit-box-shadow: 0 0 5px #888;
        box-shadow: 0 0 5px #888;
      }
      .map { opacity: 0; }
      #feedback {
        background: #fff;
        color: #444;
        position: absolute;
        font-family: arial;
        margin: 5px;
        padding: 10px;
        right: 30px;
        top: 30px;
        z-index: 40;
      }
      #note { font-size: 100%; font-weight: 700; padding: 0 0 10px 0; }
	  #featureCount { font-size: 100%; font-weight: 700;}
      #show_next { 
        cursor: pointer; 
        font-size: 100%;
      }
	  #show_next:hover { border-bottom: 2px solid #444; }