<div class="${baseClass} MaS-panel nihilo">
    <div class="${baseClass}IntroText" data-dojo-attach-point="introText">${i18n.introPanel.introText}</div>
    <div data-dojo-attach-point="geocoderNode"></div><div data-dojo-attach-point="nextButton"></div><br />
    <div class="MaS-progressIndicator" data-dojo-attach-point="progressIndicator" style="display:none; margin-top:10px; text-align:center;"><img data-dojo-attach-point="progressSpinner" src="${spinnerImageUrl}" style="margin-top:75px;"></div>
    <div data-dojo-attach-point="clusterDetails" class="MaS-paneldetails" style="margin-top:10px; display:none; overflow:auto;"></div>
</div>